<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Tu Pedido!</h1>
    <h2><%= pedidos.usuario%></h2>
    <h2><%= pedidos.pedido%></h2>
    <h2><%= pedidos.items%></h2>
    <h2><%= pedidos.horario%></h2>
    <h2><%= pedidos.estado%></h2>
    <a href="http://localhost:8080/home">Home</a>
    <a href="http://localhost:8080/logout">LogOut</a>
</body>
</html>